#main, .posts
  +outer-container

.posts p, .post-title, article.article-detail, .soundcloud-player-small
  +shift(2)
  +span-columns(8)

.post-title a, .detail-post-title
  color: $medium-gray
  &:hover
    color: $matcha-green

.post-title, .detail-post-title
  font-size: 1.7em

.posts p, .article-detail p
  font-size: 1.05em
  line-height: 1.35em

.posts p, .article-detail p 
  color: $text-color

.detail-post-date, .post-date
  color: $light-gray

.post-date
  margin:
    left: em(-111px)
    right: em(12px)
