footer
  +outer-container
  border-top: 1px solid rgba($text-color, .3)
  padding-top: 4em
  padding-bottom: 4em

.recent-posts, .footer-tags
  h3
    font-size: 1.7em
  li
    font-size: 1.05em

.recent-posts
  +span-columns(6)
  +shift(2)

.footer-tags
  +span-columns(2)

.recent-posts, .footer-tags
  color: darken($medium-gray, 20%)
  a
    +transition(all .1s ease-in-out)
    color: $text-color
    &:hover
      color: $matcha-green
      border-bottom: 2px solid $matcha-green
