footer
  +outer-container
  border:
    top: 1px solid #E5E5E5
  margin:
    bottom: 5px
  h3
    font-size: 1.7em
    color: $light-gray
    margin:
      top: 5px
      bottom: $small-margin

.recent-posts, .footer-tags
  +media(max-width 780px)
    +span-columns(11)
    +shift(0.5)
  +span-columns(8)
  +shift(2)
  line-height: 1.4em
  margin:
    top: $medium-margin
  a
    color: darken($medium-gray, 30%)
  li
    font-size: 1.05em
    margin:
      bottom: $small-margin
      top: $small-margin

.footer-tags
  li
    display: inline
    margin:
      right: $small-margin

.recent-posts
  margin:
    bottom: $medium-margin
  li
    text-indent: -12px
