#logo
  +span-columns(1)
  img
    margin:
      left: -6px
    height: 65px

header
  +outer-container
  margin:
    top: 30px

.navigation
  +span-columns(9)
  li
    display: inline-block
    float: right
    margin:
      top: $small-margin
  a
    color: darken($medium-gray, 30%)
    margin:
      left: $medium-margin / 4
