#logo
  +shift(1.15)
  +span-columns(1)
  img
    height: 65px
header
  +span-columns(12)
  height: 70px
  margin:
    top: 30px

.navigation
  float: right

.navigation a
  color: $dark-gray
  margin:
    top: 0.5em
    bottom: 0.5em
    right: 0.9em
  &:hover
    border-bottom: 1px solid $matcha-green
    color: $matcha-green

.navigation li
  display: inline-block
  padding:
    top: 0.5em
