.hero {  
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $hero-background-top: darken($matcha-green, 65%); 
  $hero-background-bottom: rgba(lighten($matcha-green, 10%), .15);
  $hero-color: white;
  $gradient-angle: 10deg;
//
  $hero-image: '/images/Matcha_Nerdz.png';

  @include background(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), url($hero-image), no-repeat $hero-background-top scroll);
  //background-color: #324766;
  background-position: top;
  background-repeat: no-repeat;
  //background-size: cover;
  padding-bottom: 3em;
//  hero unit distance to article
  margin-bottom: 2em;

  .hero-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    padding-top: 1.2em;
    text-align: center;

    .hero-copy {
      text-align: center;
      
      h1 {
        color: $hero-color;
        font-size: 2em;
        margin-bottom: 0.3em;

        @include media($large-screen) {
          font-size: 3em;
        }
      }

      p {
        color: $hero-color;
        line-height: 1.4em;
        margin: 0 auto 3em auto; 

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }
  }
}

