.posts
  +outer-container
  //background-color: green

.posts p, .post-title
  +shift(2)
  +span-columns(8)
  //background-color: yellow

.post-title
  font-size: 1.7em

.posts p
  font-size: 1.05em
  margin-bottom: 4em
