.post-title
  a
    line-height: 1.5em
    +transition(color .4s ease-in-out)
    &:hover
      color: $matcha-green

.post-date
  font-size: 0.6em
  margin:
    left: em(-80px)
    right: em(20px)

.soundcloud-player-small
  margin-bottom: 1em
