.detail-post-title
  +media(max-width 830px)
    font-size: 1.7em
  font-size: 2em
  margin:
    top: $small-margin

.detail-post-topic-list
  color: darken($medium-gray, 30%)
  +media(max-width 830px)
    font-size: 1.1em
  font-size: 1.2em
  line-height: 1.5em
  margin:
    bottom: 1.2em

.soundcloud-player-big
  margin:
    bottom: 48px

.article-detail
  ul
    margin:
      bottom: $medium-margin / 2
  li
    text-indent: -13px

.article-detail p, .article-detail li
  +media(max-width 830px)
    font-size: 1em
  font-size: 1.1em
  line-height: 1.5em
  color: darken($medium-gray, 30%)

.detail-post-title, .article-detail h1, .article-detail li
  margin:
    bottom: $small-margin
