#main
  +outer-container

article.article-detail
  +shift(2)
  +span-columns(8)

.detail-post-title
  color: $matcha-green
  font-size: 1.7em
  margin-top: 40px

.detail-post-date
  font-size: 1.1em
  color: $text-color

.article-detail p
  font-size: 1.05em
  margin-bottom: 4em
  color: $text-color
  line-height: 1.35em

.soundclould-player-big
  margin-bottom: 50px
  
