.posts p,  article.article-detail, .index-article, .recent-posts, .footer-tags, .tag-header, .tag-list
  +shift(2)
  +span-columns(8)

.article-detail h1, footer h3, .post-title a, .tag-header, .tag-list-title
  font-size: 1.7em

.posts, .article-detail p, .post-title a
  color: darken($medium-gray, 30%)

.article-detail h1, .detail-post-date, .post-date, .tag-date, .tag-header
  color: $light-gray

.article-detail a, .detail-post-title, .tagname
  color: $brand-color
