#logo img
  +transition(all .1s ease-in-out)
  &:hover
    opacity: .7

.navigation 
  a
    +transition(all .1s ease-in-out)
    &:hover
      color: $matcha-green

.post-title
  a
    border-bottom: 2px solid white
    &:hover
      color: $matcha-green
      border-bottom: 2px solid $matcha-green

.pagination-link
  a
    &:hover
      color: $matcha-green

.recent-posts
  a
    +transition(all .1s ease-in-out)
    &:hover
      color: $matcha-green
      border-bottom: 1px solid $matcha-green

.footer-tags
  a
    +transition(all .1s ease-in-out)
    &:hover
      color: $matcha-green
