#logo img
  +transition(all .1s ease-in-out)
  &:hover
    opacity: .7

.navigation 
  a
    +transition(all .1s ease-in-out)
    &:hover
      color: $matcha-green

.post-title
  a
    border-bottom: 2px solid white
    &:hover
      color: $matcha-green
      border-bottom: 2px solid $matcha-green

.pagination-link
  &:hover
    border: 1px solid $matcha-green
    background-color: $matcha-green
    box-shadow: 0px 1px 2px rgba(shade($matcha-green, 75%), .20)
    border: 1px solid shade($matcha-green, 20%)
    &:active
      opacity: .7
  a
    &:hover
      color: white
    &:active
      color: white
      box-shadow: 0px 0px 0px rgba(shade($matcha-green, 45%), .30)

.recent-posts
  a
    +transition(all .1s ease-in-out)
    &:hover
      color: $matcha-green
      border-bottom: 1px solid $matcha-green

.footer-tags
  a
    +transition(all .1s ease-in-out)
    &:hover
      color: $matcha-green
