<header>
    <div id="logo">
       <% link_to '/matcha-nerdz' do %>
         <%= image_tag 'Between_Screens_Logo_Cube_Up.svg', alt: 'Logo cube' %>
       <% end %>
    </div>
    <nav class="navigation">
      <ul class="nav-list">
        <li><%= link_to 'about', '/pages/about.html' %></li>
        <li><%= link_to 'design', '/matcha-nerdz' %></li>
        <li><%= link_to 'code', '/matcha-nerdz' %></li>
      </ul>
    </nav>
</header>
