<section>
  <% if prev_page %>
    <p class='pagination-link'><%= link_to '« Newer Stuff', prev_page %></p>
  <% end %>

  <% if next_page %>
    <p class='pagination-link'><%= link_to 'Older Stuff »', next_page %></p>
  <% end %>
</section>
