---
pageable: true
per_page: 7
---

<div class='posts'>
  <ul>
    <% page_articles.each do |article| %>
      <li>
        <%= partial "partials/index-list-item-audio", :locals => { :article => article } %>
      </li>
    <% end %>
  </ul>
</div>

<% if paginate %>

  <section>
    <% if prev_page %>
      <p class='pagination-link'><%= link_to '« Newer Stuff', prev_page %></p>
    <% end %>

    <% if next_page %>
      <p class='pagination-link'><%= link_to 'Older Stuff »', next_page %></p>
    <% end %>
  </section>

<% end %>
